	<ion-header>
        <ion-toolbar color="primary">
            <ion-buttons slot="start">
                <ion-button id="btnMenu" (click)="volver()">
                    <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-title>Tiempo</ion-title>
        </ion-toolbar>
    </ion-header>

<ion-content>

      <br />
      <br />
      <br />

      <ion-button size="large" (click)="siguiente()">
        UNA VEZ
        <br />
        (Día)
      </ion-button>

      <br />
      <br />

      <ion-button size="large">
        UNA VEZ
        <br />
        (Trasnoche)
      </ion-button>

      <br />
      <br />

      <ion-button size="large">
        Fechas
        <br />
        Prolongadas
      </ion-button>

</ion-content>
