<ion-content padding class="ion-content-inicio">
		<br />
		<br />
		<br />
    <br />
    <br />
    <br />
    <br />
		<div style="width: 100%; text-align: center;">
			<img src="assets/ayasLogoA1.png" style="width: 90%;" />
		</div>
		<br />
		<br />
		<br />
		<section>
		    <ion-button color="primary" shape="round" (click)="navegarLogin()" size="medium">
		    	<ion-icon slot="start" name="person-add"></ion-icon>
		    	Soy Mamá o Papá
			</ion-button>
		    
		    <ion-button color="primary" shape="round" (click)="navegarAsistente()" size="medium">
		    	<ion-icon slot="start" name="contact"></ion-icon>
		    	Soy Asistente Infantil
		    </ion-button>
	    </section>
	</ion-content>
