<ion-app ng-controller="registroPadreController">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-buttons slot="start">
                <ion-button id="btnMenu" (click)="volver()">
                    <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-title>Guardar Dirección</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content padding class="centrado">
        <ion-item>
          <ion-label position="floating">Alias</ion-label>
          <ion-input placeholder="Ej. Casa Padres"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Direccion detallada</ion-label>
          <ion-textarea rows="3" placeholder="Especifique la Zona, Barrio, Calle, Nro de Casa o Departamento"></ion-textarea>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Ref. de Transporte Público</ion-label>
          <ion-textarea rows="3" placeholder="Usando el transporte público, ¿cómo podemos llegar a esta dirección?"></ion-textarea>
        </ion-item>
        
        <ion-item-divider>
          <ion-label>
            Geolocalización
          </ion-label>
        </ion-item-divider>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7597.266828437068!2d-63.189089278977974!3d-17.808917751308925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93f1e83745e7556f%3A0xb2e4af6374fd01f1!2sBraniff%2C+Santa+Cruz+de+la+Sierra!5e0!3m2!1ses-419!2sbo!4v1563246939694!5m2!1ses-419!2sbo" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>  

        <br />
        <ion-button color="primary" expand="full" (click)="guardar()" size="medium">
          <ion-icon slot="start" name="pin"></ion-icon>
          Registrar
        </ion-button>
    </ion-content>