.profilebutton {
    z-index: 2;
    position: absolute;
    left: 7%;
    top: 38%;
    margin: auto;
}

.profilebar {
    z-index: 2;
    position: absolute;
    left: 12%;
    top: 46%;
    width: 75%;
    height: 15px;
    margin: auto;
}